html {
  background-color: #111212;
  }
  
main {
  font-family: 'Press Start 2P', sans-serif;
  color: #02fa65;
  background-color: #111212;
  padding-top: 25px;
  padding-bottom: 25px;
  }

#img-div {
  margin: auto;
  width: 88%;
  background-color: rgba(1, 8, 5, 0.6);
  padding: 15px;
  padding-top: 5px;
  color: #02fa65;
  box-shadow: 0 0 3px 0px #02fa65,
  0 0 15px 2px rgb(89, 104, 88),
  inset 0 0 80px 0px #00efd30e;
  border-radius: 90px;            
  }

h1 {
  background-color: rgb(24, 23, 23);
  color:  #272828;
  background-image: linear-gradient(to right, #023b0c, #02fa65, #023b0c, #02fa65, #023b0c, #02fa65, #023b0c, #02fa65, #023b0c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: flow 5s ease-in-out infinite;
  background-size: 200%;
  }
  
  @keyframes flow {
      0% {
          background-position: 0 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          bottom-position: 0 50%;
      }
  }
  
h1, h2, #closing {
  text-align: center;
  }
  
h2 {
  padding-top: 25px;
  }

.sep {
  border: 1px solid #02fa65
  }
  
#snake-front-image,  #snake-back-image {
  width: 200px;
  }

.earth {
  height: 185px;
  width: 300px;
  perspective: 1000px;
  margin: auto;
  }

.snake {
  height: 70px;
  perspective: 1000px;
}

.earth-inner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }

.snake-inner {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#earth-front-image:hover, #snake-front-image:hover {
  background-color:#006913
}
.earth:focus .earth-inner {
  transform: rotateY(180deg);
  }



.snake:focus .snake-inner {
  transform: rotateY(180deg);
}

.snake-back:focus .snake-inner {
  transform: rotateY(180deg);
}


.earth-front, .earth-back, .snake-front, .snake-back {
  font-size: 9px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  }

#earth-front-image, #earth-back-image, #snake-front-image, #snake-back-image, #map-img, #eyeballs, #unknown-snake {
  border-radius: 180px;
  box-shadow: inset 0 0 1px 0px rgba(181, 181, 181, 0.253),
              inset 0 0 13px 1px #02fa6578,
               0 0 3px 0px #02fa65;
  background-image: linear-gradient(to right, #02fa650a, #1d351d11);
  animation: flow .0001s ease-in-out infinite;
  background-size: 200%;
  }          
  
.earth-back, .snake-back {
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  }

#earth-back-text, #snake-back-text {
  position: relative;
  overflow: hidden;
  color: rgba(1, 8, 5, .7);
  padding-top: 2px;
  background: linear-gradient(to right, #43fa8c, #43fa8c 50%, rgba(1, 8, 5, 0) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 1000ms ease;
  }

.earth:focus #earth-back-text {
  background-position: 0 100%;
  }

.snake:focus #snake-back-text {
  background-position: 0 100%
  }

#threat, #emergency-link, #behavior {
  position: relative;
  overflow: hidden;
  color: rgba(1, 8, 5, .7);
  background: linear-gradient(to right,  #43fa8c, #43fa8c 50%, rgba(1, 8, 5, 0) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 800ms ease;
  padding: 2px
  }
  
#threat:focus {
  background-position: 0 100%; 
  }
  
  
#img-caption:focus  #threat {
  background-position: 0 100%;
  }

#img-caption2:focus  #behavior {
  background-position: 0 100%;
  }
   
#emergency-data:focus  #emergency-link {
  background-position: 0 100%;
  }
  
 #info-container {
  padding: 30px;
  }
  
#map-img {
  width: 100%;
  border-radius: 250px;
  }  

#eyeballs {
  width: 60%;
  display: block;
  margin: auto;
  }

#unknown-snake {
  width: 60%;
  display: block;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 2px
  }

#map-text, #eyeballs-text, #unknown-snake-text {
  font-size: 9px;
  text-align: center;
  color: #43fa8c
  }
.catagories {
  padding-bottom: 25px;
  }
  
.emergency {
  color:#43fa8c;
  -webkit-animation: glow .5s ease-in-out infinite alternate;
  -moz-animation: glow .5s ease-in-out infinite alternate;
  animation: glow .5s ease-in-out infinite alternate;
  }
  
#closing {
  width: 100%;
  text-align: left;
  padding: 0px;
  color: #02fa65;
  }
  
.glow-text, #glow-text2, #earth-front-text, #snake-front-text, #top-link {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  }

@keyframes glow {
  from {
    text-shadow: 0 0 3px black, 0 0 2px #02fa65, 0 0 8px green;
    }
    to {
    text-shadow: 0 0 3px black, 0 0 3px #02fa65, 0 0 15px #02fa65, 0 0 30px green;
    }
  }

.glow-text:hover, #glow-text2:hover, #top-link:hover {
  background: #006913
  }

#tribute-conclusions {
  text-align: center;
  }  
  
#tribute-link {
  position: relative;
  overflow: hidden;
  color: rgba(1, 8, 5, .7);
  background: linear-gradient(to right, #43fa8c, #43fa8c 50%, rgba(1, 8, 5, 0) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 800ms ease;
  text-decoration: none;
  }

#closing:focus #tribute-link {
  background-position: 0 100%;
  }

#top-link {
  text-decoration: none;
  color:#02fa65;
  display: block;
  text-align: center;
  }
